body{
    background-image: url(/img/lane.jpg);
}
div.cover{
    position: fixed;
    width: 100%;
    height: 7%;
    background-color: black;
    left: 0;
}
header{
    text-align: center;
    position: fixed;
    width: 100%;
    background-color:black ;
    
    font-size: 8px;
    margin: 0%;
    top: 0%;
    left: 0%;
}

header h1{
    color: white;
    margin: 12px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

header img.location{
    width: 15px;
    position: absolute;
    left: 8%;
    top: 20%;
}

header img.phone{
    width: 20px;
    position: absolute;
    left: 90%;
    top: 20%;
}

header h1 span{
    display: inline;
}

header h1 span:nth-child(odd){
    border: solid #1c6c58;
    box-shadow: 2px 2px 7px #1c6c58;
    background-color: #1c6c58;
}

header h1 span:nth-child(even){
    border: solid #f44739;
    box-shadow: 2px 2px 7px #f44739;
    background-color: #f44739;
}








nav{
    position: fixed;
    top: 6%;
    display: inline-block;
    width: 80%;
    left: 10%
}

nav ul{
    text-align: center;
    background-color:black ;
    font-size: 10px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}


nav li{
    display: inline;
    margin-left: 5%;
    color: white;
}

nav li a{
    color: white;
}

article.banner img
{
    position: absolute;
    width: 100%;
    top: 8%;
    left: 0%;
    z-index: -1;

}


article.announcements img{
    width: 100%;
    top:35%;
    height: auto;
    margin: 0;
    position: fixed;
    left: 0;
    z-index: -1;
}

article.announcements button{
    border-radius: 2px;
    position: relative;
    top: 100px;
}


article.parties{
    position: absolute;
    top:1000px;
}

button{
    position: absolute;
    z-index:-1;
    top: 268px;
    left: 35%;
    border-radius: 8px;
    padding-right:20px;
    font-size: 20px;
    color: aliceblue;
    background-color: black;
    border: solid yellow;
    box-shadow: 2px 2px 8px yellow;

}

button img{
    width: 15px;
    display: inline;
    position: relative;
    left: 10px;
    top: 2px;
}


div.hours{
    background-color: black;
    position: absolute;
    top: 400px;
    width: 80%;
    left: 10%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 8px greenyellow;
    border: solid green;
    margin-bottom: 100px;
    z-index: -1;
    opacity: 0.7;
}

div.hours article{
    
    display: inline-block;
    margin: 5px 10px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right:  10px;
    
}

div.hours article table, h2{
    color: white;
    opacity: 1;
}

div.hours article h1{
    color: aliceblue;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    margin: 0;
    opacity: 1;
}

div.footer{
    background-color: black;
    position: absolute;
    width: 100%;
    top: 108%;
    left: 0;
    text-align: center;
    color: aliceblue;
    height: 250px;
    font-size: 13px;
}

div.footer ul{
    list-style: none;

}

div.footer ul a{
    text-decoration: underline;
    color: aliceblue;
}


div.footer img{
    margin-top: 20px;
    width: 75px;
    border-radius: 50px;
}
 /* 
div.emailClub{
    background-color: aliceblue;
    text-align: center;
    border: solid 3px black;
    padding: 5px;
    border-radius: 8px;
    position: absolute;
    top: -100vw;
    animation: emailClubEnter 10s ease-in 5s both,
               emailClubEnter 10s ease-in 30s forwards reverse;
}


div.emailClub form input:invalid
{
    color: red;
}


div.emailClub form input:valid
{
    color: green;
}
 */
a{
    text-decoration: none;
}

@media screen and (min-height: 731px){
    div.footer{
        top: 103%;
    }
}

@media screen and (min-height: 736px){
    div.footer{
        top: 102%;
    }
}
@media screen and (min-height: 823px){
    div.footer{
        top: 91%;
    }
}

@media screen and (min-height: 812px){
    div.footer{
        top: 90%;
    }
}

@media screen and (max-height: 568px){
    div.footer{
        top: 130%;
    }

    div.hours{
        top: 60%;
        font-size: 0.8em;
    }
}

/*  
@keyframes emailClubEnter{
    from{transform: translateY(0vw);}
    to{transform: translateY(230vw);}
}
*/